body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.form{

  width:400px;
  height:300px;
  left:50%;
  top:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  margin: 10px;
  padding:10px;
  margin-top: -100px;
  background-color: darkgrey;

}
.formbg{
  padding-top: 20px;
}
.submitbtn{
  margin-left: 140px;
}
.approval_div{
  position: absolute;
  inset: 400px 0 0 0;
  

}
/* ====================supplier update page=============================== */
/* .spplier_form{
  
} */